<div>
    <mat-radio-group >
        Is this an inbound call? <br>
        <mat-radio-button value='true'>
            Yes
        </mat-radio-button>
        <mat-radio-button vlaue='false'>
            No
        </mat-radio-button>
    </mat-radio-group>
</div>
<div>
   <p>
     Thank you for calling Horizon Blue Cross Blue Shield of New Jersey. My name
     is [your name]. How can I help you? <br>
     <mat-hint class='hint'>Hint: Remember to actively listen and take notes in the notes section.</mat-hint>
   </p> 
</div>
<div>
    <p>
        Great. I would be happy to help you out. In order to assist you I will need to ask you some demographic information to pull up your records. Are you ready?
    </p>
</div>
