<div>
    <mat-hint class='hint'>Hint: Use the questions below to understand your customer's needs. Remeber to actively listen and take notes.</mat-hint>
    <div>
        <p>What do you currently have for health and Rx coverage.</p>
        <p>What is important to you in a health plan?</p>
        <p>What benefits do you use most?</p>
        <p>What did you like about your old plan?</p>
        <p>Do you travel often?</p>
        <p>Do you spend more than 6 months of the year outside NJ?</p>
        <mat-hint class='hint'>Hint: educate on any penalties and/or regulations.</mat-hint>
    </div>
    
    <div>  
        <p>Are there any specific doctors, specialist or hospitaks that you'd like me to verify are in the network for this plan?</p>
        <mat-hint class='hint'>Hint: <a target='_blank' href='https://doctorfinder.horizonblue.com/'> use this link to look up doctors, specialist and hospitals.</a></mat-hint>
    </div>

    <div>
        <p>Are you currently taking any medications that may require coverage?</p>
        <mat-hint class='hint'>Hint: <a target='_blank' href='https://medicare.horizonblue.com/formulary-lookup#'> use this link to look up plan formularies.</a></mat-hint>
        
    </div>

</div>
