<app-header></app-header>

<!--<mat-grid-list cols='4' >-->
<!--  <mat-grid-tile colspan='3'>-->
<!--    <mat-card>-->
<!--      <app-call-flow></app-call-flow>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile colspan='1'>-->
<!--    <mat-card>-->
<!--      <app-notes></app-notes>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
<div class='row'>
  <mat-card class='column-left'>
    <app-call-flow></app-call-flow>
  </mat-card>
  <mat-card class='column-right'>
    <app-notes></app-notes>
  </mat-card>  
</div>




