div {
    width: 100%;
}

.value {
    color: grey;
}

textarea {
    width: 100%;
    height: 5rem;
}

.notes-buttons {
    width: 100%;
    margin: auto;
    content: center;
}

button{
    margin-bottom: 1rem;
}

.btn-copy {
    margin-right: 0;
}