<div>
    <div>
        <p>Tell me about your current coverage.</p>
        <mat-hint class='hint'>Hint: Remember to actively listen and take notes in the notes app.</mat-hint>
    </div>
    <div>
        <p>Do you have drug coverage?</p>
        <mat-hint class='hint'>Hint: <a target='blank' href='https://medicare.horizonblue.com/formulary-lookup#'> use this link to look up drug coverage.</a></mat-hint>
    </div>
    <div>
        <p>Are there any specific doctors or specialist that you'd like me to verify?</p>
        <mat-hint class='hint'>Hint: <a target='blank' href='https://doctorfinder.horizonblue.com/'> use this link to look up doctors.</a></mat-hint>
    </div>
    <div>
        <p>Are there any specific hospitals you prefer?</p>
        <mat-hint class='hint'>Hint: <a target='blank' href='https://doctorfinder.horizonblue.com/'> use this link to look up hospitals.</a></mat-hint>
    </div>
    <div>
        <p>Are there any prescriptions that you would like for me to look up?</p>
        <mat-hint class='hint'>Hint: <a target='blank' href='https://www.medicare.gov/find-a-plan/(X(1)S(2qeqeg2cju1iqppwrhgv1ci1))/questions/home.aspx?AspxAutoDetectCookieSupport=1'> use this link to look up doctors.</a></mat-hint>
        
    </div>
    <div>
        <p>Do you travel often?</p>
    </div>

</div>
